---
import Layout from '../../layouts/Layout.astro';
import { AdoptForm } from '../../components/pages/Cat/AdoptForm';
import { formatRelative, formatDistanceToNow } from 'date-fns'
import { ptBR } from 'date-fns/locale'
import { Tag } from '../../components/Tag';
import PageSection from '../../components/PageSection.astro';
import { CatsList } from '../../components/CatsList';
import client from '../../../tina/__generated__/client';
import type { Cat } from '../../../tina/__generated__/types';

  const catsResponse = await client.queries.catConnection();

  const cats = catsResponse.data.catConnection.edges?.map((catResponse) => ({
    ...catResponse?.node as Cat
  }));
  
  // TODO remove when SSR
  export async function getStaticPaths() {
  
    const catsResponse = await client.queries.catConnection();
    
    const cats = catsResponse.data.catConnection.edges?.map((catResponse) => ({
      ...catResponse?.node as Cat
    }));

    console.log('cats', cats)

  return cats?.map((cat) => ({
    params: { slug: cat.slug },
    props: { cat }
  }))
}

export type Props = {
  cat: Cat;
}

const { slug } = Astro.params;
const { cat: { name, description, birthDate: unformattedBirthDate, rescueDate: unformattedRescueDate, neutered, vaccinated, gender, patronized, tags } } = Astro.props;

const bornAtTheShelter = unformattedBirthDate === unformattedRescueDate;

const today = new Date();
const birthDate = unformattedBirthDate && formatRelative(unformattedBirthDate, today, { locale: ptBR });
const rescueDate = unformattedRescueDate && formatRelative(unformattedRescueDate, today, { locale: ptBR });
const birthDateDistance = unformattedBirthDate && formatDistanceToNow(unformattedBirthDate, { locale: ptBR, addSuffix: true });
const rescueDateDistance = unformattedRescueDate && formatDistanceToNow(unformattedRescueDate, { locale: ptBR, addSuffix: true });

const article = gender === 'female' ? 'a' : 'o';

let status;
if(neutered && vaccinated) {
  status = `Estou castrad${article} e vacinad${article}`
} else if (neutered && !vaccinated) {
  status = `Estou castrad${article}, mas não vacinad${article}`
} else if (!neutered && vaccinated) {
  status = `Estou vacinad${article}, mas não castrad${article}`
} else {
  status = `Não estou castrad${article} nem vacinad${article}`
}

// will only work when SSR
const startOpened = Boolean(Astro.url.searchParams.get('adotar')) || false;

---
<Layout title="Adote">
    <PageSection>
      <div class="flex flex-col gap-24">
        <div class="flex flex-col items-center lg:flex-row gap-20 max-w-7xl m-auto">
          <div class="relative w-full md:w-1/2 lg:w-1/3 h-96" transition:name={`picture_${slug}`}>
          <div class="bg-gray-200 rounded-xl transition-all w-full h-full"></div>
          <!-- TODO use in the future <ImageGroup /> -->
        </div>
        <div class="flex flex-col gap-4 flex-1">
          <div class="flex gap-4 items-center flex-wrap">
            <span class="text-5xl sm:text-7xl bold font-body font-bold" transition:name={slug || ""}>{name}</span>
            <div class="flex gap-2 items-center">
              {gender === 'female' ? <Tag special="female">Fêmea</Tag> : <Tag special="male">Macho</Tag>}
              {tags?.map((tag) => <Tag>{tag}</Tag>)}
            </div>
          </div>
          {Boolean(birthDate) && <p>Nasci {bornAtTheShelter ? "no abrigo ": ""}{birthDateDistance} <small>({birthDate}).</small></p>}
          {Boolean(rescueDate && !bornAtTheShelter) && <p>Fui resgatad{article} {rescueDateDistance} <small>({rescueDate}).</small></p>}
          {Boolean(status) && <p>{status}.</p>}
          <!-- FIXME add small button size-->
          {patronized ? <p>Estou apardinhad{article}. 🎉</p> : <button class="font-body text-lg font-bold underline self-start">Me apadrinhe</button>}
          <p>{description}</p>
        </div>
      </div>
      <div class="max-w-7xl m-auto w-full">
        <AdoptForm startOpened={startOpened} client:visible />
      </div>
      <div class="flex flex-col gap-2">
        <h2 class="text-4xl font-body font-bold">Outros parecidos</h2>
        <CatsList cats={cats?.filter(cat => cat.slug !== slug)} client:visible disableTransition />
      </div>
    </div>
  </div>
</Layout>
