---
import { Image } from "astro:assets";
import { twMerge } from "tailwind-merge";
import FacebookIcon from "../../assets/Outras/icons/facebook.svg";
import WhatsAppIcon from "../../assets/Outras/icons/whatsapp.svg";
import TwitterIcon from "../../assets/Outras/icons/x.svg";
import { ButtonLink } from "../ui/Button.solid";

export type Props = {
  class?: string;
  shareText?: string;
  // only for tracking
  catName?: string;
};

const { class: classNames, shareText, catName } = Astro.props;

const encodedUrl = encodeURIComponent(Astro.url.href);
const encodedText = encodeURIComponent(shareText);
---

<div class={twMerge("flex gap-2", classNames)}>
  <ButtonLink
    target="_blank"
    href={`https://www.facebook.com/sharer.php?u=${encodedUrl}&quote=${encodedText}`}
    variant="icon"
    title="Compartilhar no Facebook"
    data-umami-event="Share cat"
    data-umami-event-platform="Facebook"
    data-umami-event-cat-name={catName}
  >
    <Image src={FacebookIcon} class="h-full w-auto" alt="" />
  </ButtonLink>
  <ButtonLink
    target="_blank"
    href={`https://twitter.com/share?url=${encodedUrl}&text=${encodedText}`}
    variant="icon"
    title="Compartilhar no X (Twitter)"
    data-umami-event="Share cat"
    data-umami-event-platform="X"
    data-umami-event-cat-name={catName}
  >
    <Image src={TwitterIcon} class="h-full w-auto p-1" alt="" />
  </ButtonLink>
  <ButtonLink
    target="_blank"
    href={`https://wa.me/?text=${encodedText}%0A%0A${encodedUrl}`}
    variant="icon"
    title="Compartilhar no WhatsApp"
    class="p-1.5"
    data-umami-event="Share cat"
    data-umami-event-platform="WhatsApp"
    data-umami-event-cat-name={catName}
  >
    <Image src={WhatsAppIcon} class="h-full w-auto p-1" alt="" />
  </ButtonLink>
</div>
