---
import { Image } from 'astro:assets';
import AdoptImage from '../../../assets/Outras/actions/adopt.jpeg'
import HelpImage from '../../../assets/Outras/actions/help.jpeg'
import PatronizeImage from '../../../assets/Outras/actions/patronize.jpeg'
import PageSection from "../../layout/PageSection.astro";
import { Button } from "../../ui/Button.solid";

const actions = [
	{
		image: AdoptImage,
		label: "Adote",
		href: "/adotar",
	},
	{
		image: PatronizeImage,
		label: "Apadrinhe",
		href: "/apadrinhar",
	},
	{
		image: HelpImage,
		label: "Ajude",
		href: "/ajudar",
	},
];
---
<PageSection class={Astro.props.class}>
    <div id="actions-container" class="flex flex-col w-full sm:flex-row gap-4 sm:gap-12 lg:gap-24 items-center justify-center mb-2">
        {actions.map(action => (
            <a href={action.href} class="flex flex-col gap-2 sm:gap-4 w-full flex-1 items-center group max-w-96">
                <div id="card" class="h-40 sm:h-64 lg:h-96 w-full border-2 border-black rounded-xl flex items-center justify-center overflow-hidden">
					{/* FIXME reduce width once images are cropped */}
                    <Image src={action.image} width={1000} alt={action.label} class='h-full object-cover group-hover:scale-105 transition-transform' />
                </div>
                <Button variant="nav" class="group-hover:-rotate-1">
                    {action.label}
                </Button>
            </a>)
        )}
    </div>
</PageSection>

<script>
    import { animate, scroll } from 'motion';

    if (window.innerWidth > 640) {
        scroll(
            animate("#actions-container", { gap: window.innerWidth > 1024 ? ['2rem', '3rem', '6rem'] : ['1rem', '3rem'] }), 
            { target: document.querySelector('#actions-container'), offset: ["end start", "end end"] }
        );
    }
</script>