---
import { getAllPartners } from '../../../api/partners';
import PageSection from '../../PageSection.astro';

const partners = await getAllPartners();

const carouselAnimationDuration = partners.length * 2;
---
<PageSection>
    <div class="flex flex-col gap-12 items-center">
        <h1 class="text-3xl font-body font-medium">Parceiros</h1>
        <div class="relative w-[1200px] h-48 overflow-hidden">
			<div class="absolute left-0 top-0 bottom-0 w-32 bg-gradient-to-r from-page-background z-10" />
			<div class="absolute right-0 top-0 bottom-0 w-32 bg-gradient-to-l from-page-background z-10" />
            {partners.map((partner, i) => {
				const animationDelay = i * 2;

				// random value between 10 and -10
				const isEven = i % 2 === 0;
				const backgroundRotation = ((Math.random() * 7) + 3) - (isEven ? 15 : 0);

				return (
					<div 
						class="absolute inset-0 animate-carousel-item my-6 grid place-content-center place-items-center" 
						style={{ animationDelay: `-${animationDelay}s`, animationDuration: `${carouselAnimationDuration}s` }}>
						<div 
							class="w-52 h-40 -z-10 rotate-2 rounded-xl bg-blue-300 col-span-full row-span-full"
							style={{ transform: `rotate(${backgroundRotation}deg)`}} 
							/>
						<img src={partner.image} alt={partner.name} class="w-32 col-span-full row-span-full" />
					</div>
				);
			})}
        </div>
    </div>
</PageSection>